MYSQL_ROOT_PASSWORD=REPLACE_WITH_STRONG_MYSQL_ROOT_PASSWORD_MIN_16_CHARS
MONGO_ROOT_USERNAME=REPLACE_WITH_MONGO_ADMIN_USERNAME
MONGO_ROOT_PASSWORD=REPLACE_WITH_STRONG_MONGO_PASSWORD_MIN_16_CHARS
JWT_SECRET=REPLACE_WITH_STRONG_JWT_SECRET_MIN_32_CHARS
ORDER_DB_USER=REPLACE_WITH_ORDER_DB_USERNAME
ORDER_DB_PASSWORD=REPLACE_WITH_STRONG_ORDER_DB_PASSWORD_MIN_16_CHARS
INVENTORY_DB_USER=REPLACE_WITH_INVENTORY_DB_USERNAME
INVENTORY_DB_PASSWORD=REPLACE_WITH_STRONG_INVENTORY_DB_PASSWORD_MIN_16_CHARS
USER_DB_USER=REPLACE_WITH_USER_DB_USERNAME
USER_DB_PASSWORD=REPLACE_WITH_STRONG_USER_DB_PASSWORD_MIN_16_CHARS
